<html>
    <body>
        <h3>New Message</h3>
        <form method="POST" action="/new">
            <label for="usrName">Username:</label>
            <input type="text" id="usrName" name="usrName" />
            <label for="msgTxt">Message:</label>
            <textarea name="msgTxt" id="msgTxt"></textarea>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>