<html>
    <body>
        <2>Message Board</2>
        <ul>
            <% messages.forEach((message) => { %>
                <%- include('message', {message:message}); %>
            <% }); %>
        </ul>
        <a href="/new">New Message</a>
    </body>
</html>